<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsh.db.dao.HostsDataMapper" >
  <resultMap id="BaseResultMap" type="com.jsh.db.HostsData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cpu_usage" property="cpuUsage" jdbcType="VARCHAR" />
    <result column="mem_total" property="memTotal" jdbcType="VARCHAR" />
    <result column="mem_used" property="memUsed" jdbcType="VARCHAR" />
    <result column="mem_free" property="memFree" jdbcType="VARCHAR" />
    <result column="network_in" property="networkIn" jdbcType="VARCHAR" />
    <result column="network_out" property="networkOut" jdbcType="VARCHAR" />
    <result column="uptime" property="uptime" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jsh.db.HostsData" extends="BaseResultMap" >
    <result column="diskinfo" property="diskinfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, cpu_usage, mem_total, mem_used, mem_free, network_in, network_out, uptime, 
    createtime
  </sql>
  <sql id="Blob_Column_List" >
    diskinfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jsh_hosts_data
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>